:root {
  --color-black: #000;
  --color-darkest: #111;
  --color-darker: #222;
  --color-dark: #444;
  --color-light: #fff;
  --color-hover: #ffd700;
  --color-active: #f90;
  --color-passive: #9f9f9f;

  --pico-form-element-spacing-vertical: 0.125rem;
  --pico-form-element-spacing-horizontal: 0.5rem;

  /* Keyboard layout dimensions */
  --key-width: 40px;
  --key-height: 160px;
  --key-margin: 2px;
  --upper-key-width: 26px;
  --upper-key-height: 100px;
  --upper-key-offset: 29px; /* (key-width + margins/2) - (upper-key-width / 2) = 42 - 13 = 29px */

}